@model PaginatedList<BikeshopAdvanced.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Producten</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Zoek product: <input type="text" name="SearchString" value="@ViewData["SearchFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["Sorteer op product"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Product</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["Sorteer op prijs"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Prijs</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price) €
                </td>
                <td>
                    @if (User.IsInRole("Administrator"))
                    {
                        @Html.ActionLink("Edit |", "Edit", "Products", new { Id = @item.Id }) 
                        @Html.ActionLink(" Details |", "Details", "Products", new { Id = @item.Id }) 
                        @Html.ActionLink(" Delete ", "Delete", "Products", new { Id = @item.Id })
                     }

                    @Html.ActionLink("Add to basket", "Create", "ShoppingItems", new { ProductId = item.Id }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}


<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["SearchFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["SearchFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>
