@model PaginatedList<BikeshopAdvanced.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h1>Klanten</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Zoek op naam: <input type="text" name="SearchString" value="@ViewData["SearchFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["Sorteer op familienaam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Last Name</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["Sorteer op voornaam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">First Name</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var clients in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => clients.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => clients.FirstName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@clients.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@clients.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@clients.Id">Delete</a>
                    @Html.ActionLink("Open bag", "Create", "ShoppingBags", new { ClientId = clients.Id }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["SearchFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["SearchFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>
